/* Header Styles */
header {
    background-color: #006400; /* Dark Green */
    color: #fff;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    position: relative;
    padding: 0;
}

header nav ul li {
    margin: 0 20px; /* Increased margin for spacing */
    position: relative;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 15px 20px; /* Increased padding for larger clickable area */
    display: block;
}

header nav ul li:hover .dropdown {
    display: block;
}

header nav ul li .dropdown {
    display: none;
    position: absolute;
    background-color: #006400;
    top: 100%;
    left: 0;
    min-width: 200px; /* Set a minimum width */
    text-align: left;
    border-radius: 0 0 5px 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Added shadow for better visibility */
}

header nav ul li .dropdown li {
    width: 100%;
}

header nav ul li .dropdown li a {
    padding: 10px 20px; /* Matching padding to main menu */
    display: block;
    border-bottom: 1px solid #32CD32; /* Lime Green */
    color: #fff;
}

header nav ul li .dropdown li a:hover {
    background-color: #32CD32; /* Highlight color on hover */
}
